/* body {
    width: 300px;
    height: 300px;
    background: #319DA0;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: #FFF5E1;
    border-radius: 20px;
    border: 1px solid rgb(167, 229, 250);
    background-color: #D7C0AE;
    padding: 10px;
}


.word {
  margin: auto;
  color: rgb(255, 255, 255);
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 3px 1px #222324, 1px 3px #222324, 1px 3px #222324;
}

body {
  overflow: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}


.elevateRight { animation-name: elevateRight }
@keyframes elevateRight {
  from {
      transform: translateY(100%) rotate(20deg);
      transform-origin: left;
  }
  40% {
      transform: rotate(-20deg);
      transform-origin: left;
  }
  65% {
      transform: rotate(0deg);
      transform-origin: left;
  }
} */
body {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: sans-serif;

    background-color: #FBF285;

}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

}



.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    background-color: #FEFBF6;

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}
img{
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 80px;

  color: #fff;
  height: 100%;
  width: 100%;
}
.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

}
